
body {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    font: status-bar;
    font-size: 20px;
    text-align: center;
}

.highlight {
    display: inline-block;
    padding: .25em 0;
    background: #eb5528;
    color: #000000;
}

.dark-mode {
    background-color: #202124;
    color: #ffffff;
}

address {
    font-size: 10px;
    color: rgb(129, 136, 144);
    display: inline;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

button {
    border: none;
    background: none;
}

button:hover {
    border: none;
    background: none;
    color: #bababa;
}

/* awesome icons styling */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-moon-o {
    font-size: 23px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background-color: #171b21;
    color: #f1f6fb;
}

.fa-reddit {
    background: #eb5528;
    color: #ffffff;
}

.fa-soundcloud {
    background:#000000;
    color:#ffffff;
}